.Wrapper {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #f0f0f0a2;
}

.Header {
  width: 100%;
  height: 150px;
  background-color: rgb(198, 236, 253);
  padding-top: 30px;
}