.Image {
  width: 250px;
  height: 180px;
  display: block;
  margin: 8px;
}

.ImageWrapper {
  display: inline-block;
}

.InfoBox {
  width: 250px;
  text-align: left;
  padding: 5px;
  background-color: rgba(194, 97, 97, 0.4);
}