.Image {
  width: 150px;
  height: 180px;
  display: block;
  border-radius: 20px;
  border: 1px solid white;
}

.ImageWrapper {
  display: inline-block;
  margin: 20px;
}

.InfoBox {
  width: 250px;
  text-align: left;
  padding: 5px;
  background-color: rgba(194, 97, 97, 0.4);
}

