.Image {
  width: 250px;
  height: 180px;
  background-color: lightgray;
  position: absolute;
  top: calc(50% - 90px);
  left:calc(50% - 125px);
  border-radius: 20px;
  border: 1px solid white;
  transform: rotate(90deg);
}

.ImageWrapper {
  /*position: relative;
  margin-top: calc(50% - 90px);*/
  /*transform: rotate(90deg);*/
  width: 250px;
  margin-top: 250px;
}

.Image_test {
  width: 100%;
}